<head>
    <title>Error - Page Not Found | Continuous Events</title>
</head>
<body style="background-color: whitesmoke;">
    <div style="margin: auto;padding-top: 60px;text-align: center;width: 900px;color: rgb(42, 45, 86);">
        <h1 class="mb-2 mx-2" style="font-size: 30px;">Page Not Found </h1>
        <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p>
        <button mat-raised-button color="primary" routerLink="/home">Back to home</button>
        <div class="mt-4">
            <img
            src="assets/images/page-misc-error-light.png"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            />
        </div>
    </div>
</body>

