<nav class="navbar fixed-top navbar-expand-lg bg-white navbar-light ;" style="width: 100%;margin-left: 240px;">
  <div class="container-fluid" style="width: 800px;">
    <div style="width:800px;">
      <div style="float:right">
        <img role="button" (click)="profile()" src={{image}} class="rounded-circle " style="width: 35px;" alt="Avatar" />
        <mat-icon title="Logout" role="button" (click)="logout()" style="vertical-align: middle; margin-left: 10px;">logout</mat-icon>
      </div>
    </div>
  </div>
</nav>




