<head>
    <title>Reset Password | Continuous Events</title>
</head>
<div class="container" style="width: 450px; margin-top: 8vh; margin-left: 20px;">
    <h1 style="margin-bottom: 8vh;"><strong>Reset Your Password</strong></h1>
    <h3>Enter a new password for your <strong>{{email}}</strong> account. Passwords must use 7 or more characters.</h3>
    <form (ngSubmit)="reset()">
        <mat-form-field appearance="outline" style="width: 450px; margin-top: 2vh;margin-bottom: 2vh">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [formControl]="newPass">
            <mat-error *ngIf="newPass.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 450px; margin-bottom: 5vh;">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" [formControl]="confirmPass">
        </mat-form-field>
        <button [disabled]="newPass.invalid" type="submit" mat-raised-button style="width: 100%; margin-bottom: 5px; background-color: rgb(39, 39, 39); color: white;">Reset</button>
    </form>    
</div>