.main-div{
    height: 93vh;
    display: flex;
    justify-content: right ;
    align-items: center;
    margin-right: 80px;
}
mat-card {
    height: 80vh;
    width: 38%;
    min-width: 380px;
}
.content-div{
    margin-top: 8vh;
}
mat-form-field{
    width: 100%;
}

mat-card-title{
    margin-top: 4vh;
    font-size: 32px;

}
.body-style{
    background-image: url("src/assets/images/login-background.png");
    background-size: cover;
    background-position: center;
}
.forgot-dialog{
    width: 450px;
    height: 400px;
}