<h1 mat-dialog-title><mat-icon style="vertical-align: sub; margin-right: 5px;">calendar_today</mat-icon>Create event</h1>
<mat-dialog-content >
  <form [formGroup]="addEventForm" (ngSubmit)="onSubmit(addEventForm)">
    <div style="width: 410px;">
      <div class="mb-3">
        <label class="text-muted">Title</label>
        <input  type="text" class="form-control" formControlName="title" required>
        <div class="text-danger" *ngIf="getError('title')" style="margin-bottom: 1vh;">
          <small>This field is <strong>required</strong></small>
        </div>
      </div>

      <div class="mb-3">
        <label class="text-muted">Description</label>
        <textarea class="form-control" formControlName="description" rows="3" required></textarea>
        <div class="text-danger" *ngIf="getError('description')" style="margin-bottom: 1vh;">
          <small>This field is <strong>required</strong></small>
        </div>
      </div>
      
      <div class="mb-3">
        <label class="text-muted">Start date</label>
        <input  type="datetime-local" id="start"
        [ngModel]="myModel" (ngModelChange)="valuechange($event)"
        class="form-control" formControlName="startDate" required>
        <div class="text-danger" *ngIf="getError('startDate')" style="margin-bottom: 1vh;">
          <small>This field is <strong>required</strong></small>
        </div>
      </div>

      <div class="mb-3">
        <label class="text-muted">End date</label>
        <input id="end" type="datetime-local"
        class="form-control" formControlName="endDate"  required>
        <div class="text-danger" *ngIf="getError('endDate')" style="margin-bottom: 1vh;">
          <small>This field is <strong>required</strong></small>
        </div>
      </div>

      <div class="mb-3">  
        <label class="text-muted">Location</label>
        <div class="input-group">
          <input type="text" style="border-right: 0;" class="form-control" formControlName="location" required>
          <span class="input-group-text material-symbols-outlined" style="background-color: white; border-left: 0;">
              location_on
          </span>
        </div>
        <div class="text-danger" *ngIf="getError('location')" style="margin-bottom: 1vh;">
          <small>This field is <strong>required</strong></small>
        </div>
      </div>

    </div> 
    <mat-dialog-actions style="justify-content: right;">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="addEventForm.invalid" [mat-dialog-close]="true" style="background:#0275d8 ;color: white;">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>