<div class="forgot-dialog">
  <h1 mat-dialog-title>Forgot your password ? 🔒</h1>
  <div mat-dialog-content>
    Enter your email and we'll send you instructions to reset your password
    <br>
    <form (ngSubmit)="sendLink()">
      <mat-form-field style="margin-top: 10vh;" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput  [formControl]="emailAddress">
        <mat-error *ngIf="emailAddress.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div mat-dialog-actions style="justify-content: right;" >
        <button mat-raised-button type="submit" style="width: 85px">Send</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- [formControl]="emailAddress"  -->
<!-- <form #forgotForm="ngForm" (ngSubmit)="sendLink(forgotForm)"></form> -->