<head>
    <title>Polls | Continuous Events</title>
</head>
  <section>
    <mat-card style="margin-bottom: 32px; height: 150px;border-radius: 10px;overflow: hidden;">
      <div style="width:500px;margin-top:25px;margin-left:20px;font-size: 28px;color: rgb(72, 71, 71);">
        <strong>Filter Polls</strong>
        <form class="d-flex" style="margin-top: 30px;">
          <input
            name="searchInput" [(ngModel)]="searchInput"
            type="search"
            class="form-control rounded"
            placeholder="Search Polls"
            aria-label="Search"
            aria-describedby="search-addon"
            style="width: 300px;"
          />
          <select #status class="form-select" aria-label="Default select example" style="margin-left: 10px;width: 150px" (change)="onSelected(status.value)">
            <option selected>All</option>
            <option value="Live">Live</option>
            <option value="Ended">Ended</option>
          </select>
        </form>
      </div>
    </mat-card>
    <mat-card *ngFor="let poll of selectedPolls | search: searchInput" style="margin-bottom: 30px;">
      <div style="padding-top:35px; padding-bottom: 15px;padding-left: 35px;line-height: 30px;">
        <button mat-raised-button style="width: 100px;float: right;
        border-radius: 20px;margin-top: -45px;margin-right: 30px;color:black;
        box-shadow: 0px 5px 10px #3a0afa97;background-color: #fff;" disabled>
          {{poll.votes}} votes
        </button>
        <div style="font-size: 28px; font-weight: 550;width:500px">
          {{poll.question}}
          <span class="badge text-bg-success" *ngIf="poll.dueDate >= today"
            style="margin-bottom: 10px;font-size: 16px;">Live</span>
          <span class="badge text-bg-secondary" *ngIf="poll.dueDate < today"
            style="margin-bottom: 10px;font-size: 16px;">Ended</span>
        </div>
        <div class="row">
          <div class="col-10">
            <p >Due :<strong style="color: rgb(236, 4, 4);"> {{poll.dueDate.toDateString()}}</strong></p>
          </div>
          <div class="col-2">
            <div class="wrap"><button class="button" mat-raised-button style="width: 120px;float: right;margin-right: 20px;" routerLink="/polls/{{poll.id}}">View Poll</button></div>
          </div>
        </div>
      </div>
    </mat-card>
</section>
   
  