.header img {
    float: left ;
    top: 150px;
    width: 200px;
    border-radius: 15px;
  }
  
  .header h1 {
    position: relative;
    top: 75px;
    left: 50px;
    font-size: 30px;
  }

  .header p, ul {
    position: relative;
    left: 50px;
    font-size: 15px;
  }

