<nav-cmp></nav-cmp>
<div style="margin-top: 51px;">
    <div class="header">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="img-fluid" style="width: 180px;margin-top: 10vh; margin-left: 10vh;"alt="Avatar"/>
        <h1 class="mb-2" style="position: relative;"><strong>{{firstName}} {{lastName}}</strong></h1>
        <p class="text-muted" style="top: 80px;">Designer</p>
        <button mat-button style="color: rgb(37, 136, 235);position: relative;top: 70px; left: 42px;" (click)="openDialog()">Edit Profile</button>

        <ul class="nav nav-tabs" id="myTab" role="tablist" style="top: 100px;width:400px">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">About</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Timeline</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" >
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="position: relative;top: 150px; left: 65px;">
                <div>
                    <span class="text-muted" style="font-size: 11px;">BASIC INFORMATION</span><br><br>
                    <span style="font-size: 13px;">Birthday:</span>
                    <span style="margin-left: 50px;font-size: 13px ;">{{birthday}}</span><br>
                    <span style="font-size: 13px;">Roles: </span>
                    <span style="margin-left: 64px;font-size: 13px">{{role}}</span><br>
                    <span style="margin-left: 104px;font-size: 13px" *ngIf="role == 'Admin'">Member</span><br>
                </div>
                <div style="padding-top: 5vh;position:relative; left: 240px;">
                    <span class="text-muted" style="font-size: 11px;">CONTACT INFORMATION</span><br><br>
                    <span style="font-size: 13px;">Mobile: <span style="margin-left: 60px;">{{mobile}}</span></span><br>
                    <span style="font-size: 13px;">Email: <span style="margin-left: 66px;">{{email}}</span></span> 
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
        </div>

        <!-- <ul class="nav nav-underline" style="top: 130px;">
            <li class="nav-item" style="width: 120px; text-align: center;">
                <a class="nav-link active" aria-current="page" href="profile">About</a>
            </li>
            <li class="nav-item" style="width: 120px;text-align: center;">
                <a class="nav-link" href="profile">Timeline</a>
            </li>
        </ul> -->


        <!-- <p style="font-size: 18px;top: 100px;"><strong>About</strong></p>
        <hr style="left: 50px;position: relative;top: 100px;width: 400px;"> -->
    </div>
</div>
