<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<header>
    <nav class="collapse d-lg-block sidebar collapse bg-white" fixed-left >
        <div>
            <a  href="home" style="text-decoration: none;">
                <div style="margin-bottom: 25px;">
                    <div>
                        <img src="assets/images/login-logo.png" style="width:60px; margin-left: 85px;">
                    </div>
                    <div>
                        <span style="margin-left:10px;font-size: 22px;color: mediumslateblue;font-weight: 200;">continuous events</span>
                    </div>
                </div>
            </a>
        </div>
        
        <div style="height:81%;overflow-y: auto;;">
            <div class="list-group list-group-flush mx-3 mt-4" *ngFor="let menu of menus" role="tablist">
                <div *ngIf="!hasMenus(menu)">
                    <a id= "menu.id" [routerLink]="menu.route" (click)="activate(menu.id, menu.name)" 
                    [ngClass]="menu.active ? 'list-group-item list-group-item-action py-2 ripple active' 
                    : 'list-group-item list-group-item-action py-2 ripple inactive'">
                        <mat-icon>{{menu.icon}}</mat-icon><span>{{menu.name}}</span>
                    </a>
                </div>
                <div *ngIf="hasMenus(menu)">
                    <div *ngIf="role === 'Admin'"> 
                    <a id= "menu.id" (click)="rotate()"
                    [ngClass]="menu.active ? 'list-group-item list-group-item-action py-2 ripple active' 
                    : 'list-group-item list-group-item-action py-2 ripple inactive'" 
                    data-bs-toggle="collapse" href="#adminPanel" role="button" 
                    aria-expanded="true" aria-controls="adminPanel">
                        <mat-icon>{{menu.icon}}</mat-icon><span>{{menu.name}}</span>
                        <span [@rotatedState]='state' class="material-symbols-outlined" 
                         style="float: right; font-size: 22px; vertical-align: sub; margin-right: 8px;">
                            chevron_right
                        </span>
                    </a>
                    <div class="collapse show" style="margin-bottom: 20px;" id="adminPanel" *ngFor="let sub of menu.menus" aria-expanded="true">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a id= "sub.id" [routerLink]="sub.route" (click)="activate(sub.id, sub.name)" 
                            [ngClass]="sub.active ? 'list-group-item list-group-item-action py-2 ripple active' 
                            : 'list-group-item list-group-item-action py-2 ripple inactive'">
                                {{sub.name}}
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </nav>
    
    
</header>

<main >
    <div class="container pt-4" style="margin-top: 50px;">
        <router-outlet></router-outlet>
    </div>
</main>

