<mat-sidenav-container fullscreen style="margin-top: 51px;">
    <mat-sidenav mode="side" opened style="width: 200px;">
        <div style="text-align: center;margin-top: 3vh;">
            <a href="profile" role="button">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-2" style="width: 80px;"alt="Avatar"/>
            </a>
            <h4 class="mb-2"><strong>{{firstName}} {{lastName}}</strong></h4>
            <p class="text-muted">Designer <span class="badge bg-primary" *ngIf="role == 'Admin'">ADMIN</span></p> 
        </div>
        <!-- <div role="button" onclick=""><mat-icon>list</mat-icon> Activity Stream</div> -->
        <mat-button-toggle-group #toggleBtn="matButtonToggleGroup" name="favoriteColor" aria-label="Favorite Color" style="border: none;align-items: left;margin-top: 3vh;" vertical>
            <mat-button-toggle checked value="activity" style="border: none;margin-left: 2.5mm; width: 180px;justify-content: left;"><mat-icon style="margin-right: 2mm;">list</mat-icon><strong>Activity Stream</strong></mat-button-toggle>
            <mat-button-toggle *ngIf="role == 'Admin'" value="dashboard" style="border: none;margin-left: 2.5mm; width: 180px;justify-content: left;"><mat-icon style="margin-right: 2mm;">dashboard</mat-icon><strong>Dashboard</strong></mat-button-toggle>
        </mat-button-toggle-group>
    </mat-sidenav>
    <mat-sidenav-content>
        <p>You have selected {{toggleBtn.value}}</p>
    </mat-sidenav-content>
</mat-sidenav-container>





<!-- <nav class="nav flex-column" style="margin-top: 51px;" fullscreen>
    <div style="text-align: center;margin-top: 3vh;">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 80px;"alt="Avatar" />
         <h4 class="mb-2"><strong>John Doe</strong></h4>
         <p class="text-muted">Designer <span class="badge bg-primary">ADMIN</span></p> 
     </div>
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled">Disabled</a>
</nav> -->

<!-- <ul class="nav nav-underline flex-column" style="font-size: 15px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home"><mat-icon style="margin-left: 2mm;margin-right: 4mm;transform: scale(1.1);">list</mat-icon>Activity Stream</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home"><mat-icon style="margin-left: 2mm;margin-right: 4mm;transform: scale(1.1);">account_circle</mat-icon>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home">News</a>
            </li>
        </ul> -->