<mat-sidenav-container fullscreen style="margin-top: 51px;">
    <mat-sidenav mode="side" opened style="width: 200px;">
        <div style="text-align: center;margin-top: 3vh;">
           <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-2" style="width: 80px;"alt="Avatar"/>
            <h4 class="mb-2"><strong>John Doe</strong></h4>
            <p class="text-muted">Designer <span class="badge bg-primary">ADMIN</span></p> 
        </div>
        
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical style="width: 100%;"> 
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

<!-- <nav class="nav flex-column" style="margin-top: 51px;" fullscreen>
    <div style="text-align: center;margin-top: 3vh;">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 80px;"alt="Avatar" />
         <h4 class="mb-2"><strong>John Doe</strong></h4>
         <p class="text-muted">Designer <span class="badge bg-primary">ADMIN</span></p> 
     </div>
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled">Disabled</a>
</nav> -->

